/* You can add global styles to this file, and also import other style files */
.slick-nav .slick-list .slick-track {
  width: 100% !important;
  height: 293px;
  margin-left: 236px;
  display: flex !important;
}
