/* You can add global styles to this file, and also import other style files */
.slick-nav .slick-list .slick-track {
  width: 100% !important;
  height: 293px;
  margin-left: 236px;
  display: flex !important;
}
@media (max-width: 768px) {
  .slick-nav .slick-list .slick-track {
    margin-left: 0px;
  }
}

/* Hero Cards Track */
.slick-hero .slick-list .slick-track {
  height: 550px !important;
  display: flex !important;
  align-items: center;
}

/* Hero Cards Dots */
.slick-hero .slick-dots {
  bottom: -32px;
  text-align: center;
  width: 528px;
}

.slick-hero .slick-dots li button {
  border: 0;
  background: 0 0;
  display: block;
  height: 20px;
  width: 20px;
  outline: 0;
  line-height: 0;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}

.slick-hero .slick-dots li.slick-active button:before {
  width: 48px !important;
  background-color: #154294;
}

.slick-hero .slick-dots li button:before {
  border-radius: 4px;
  height: 4px !important;
  width: 24px !important;
  background-color: #ccc;
  font-size: 0;
}

.slick-hero .slick-dots li.slick-active {
  width: 48px !important;
}

/* Hero Cards Arrows */
.slick-hero .slick-next:before {
  position: absolute;
  right: 0;
  width: 72px;
  height: 72px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: url(../node_modules/@celcomdesign/iconography/svg/icon/chevron.svg);
  padding: 16px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.slick-hero .slick-next,
.slick-hero .slick-prev,
.slick-hero .slick-next:focus,
.slick-hero .slick-prev:focus {
  width: 72px;
  height: 72px;
  border-radius: 100px;
  opacity: 0.8;
  background-color: #009bdf;
}
.slick-hero .slick-next:hover,
.slick-hero .slick-prev:hover {
  width: 72px;
  height: 72px;
  border-radius: 100px;
  opacity: 1;
  background-color: #009bdf;
}

.slick-hero .slick-prev:before {
  position: absolute;
  right: 0;
  width: 72px;
  height: 72px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: url(../node_modules/@celcomdesign/iconography/svg/icon/chevron-left.svg);
  padding: 16px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.slick-hero .slick-prev.slick-disabled:before,
.slick-hero .slick-next.slick-disabled:before,
.slick-hero .slick-prev.slick-disabled,
.slick-hero .slick-next.slick-disabled {
  display: none !important;
}

.slick-hero .slick-prev {
  z-index: 1;
}
